name: Python Styling

on:
  push:
  pull_request:

jobs:
  build:
    name: Python Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint black
    - name: Analysing the code with pylint
      run: |
        min_allowed_lint_score_per_file=9.0
        
        echo "Min allowed score per file is $min_allowed_lint_score_per_file"
        for file in $(git ls-files '*.py')
        do
          echo "Linting $file"
          pylint "$file" --fail-under $min_allowed_lint_score_per_file
        done
    - name: Analysing the code with black
      run: |
        max_line_length=99
        
        echo "Max line length is $max_line_length"
        black . --check -l $max_line_length -t py311
